<div id="content">

    <h2> <%=user.name%> </h2>

    <!--name-->
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label for="form6Example21"></label>
                <input type="text" id="form6Example21" class="form-control" value="<%=user.name%>" onchange="params.edit.name = this.value"/>
                Name
            </div>
        </div>

    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="email" id="form6Example25" class="form-control" value="<%=user.email%>" onchange="params.edit.email = this.value"/>
        <label class="form-label" for="form6Example25">Email</label>
    </div>

    <!-- Number input -->
    <div class="form-outline mb-4">
        <input type="number" id="form6Example26" class="form-control"  value="<%=user.phone%>" onchange="params.edit.phone = this.value" />
        <label class="form-label" for="form6Example26">Phone</label>
    </div>

    <!-- Category-->
    <div>
        Category:

        <label class="radio-inline-cat">
            <input type="radio" name="cat-radio"  onclick="params.edit.category=`School`" <%if(user.category==="School"){%> <%="checked"%> <%}%> >School
        </label>
        <label class="radio-inline-cat">
            <input type="radio" name="cat-radio" onclick="params.edit.category=`College`" <%if(user.category===`College`){%> <%="checked"%> <%}%> > College
        </label>
        <label class="radio-inline-cat">
            <input type="radio" name="cat-radio" onclick="params.edit.category=`University`" <%if(user.category===`University`){%> <%="checked"%> <%}%>  >University
        </label>
    </div>



    <!-- Message input -->
    <div class="row mb-4">

        <div class="col">
            <div class="form-outline">
                <input type="text" id="institution" class="form-control" value="<%=user.institution%>" onchange="params.edit.institution = this.value" />
            </div>
            Institution
        </div>

    </div>

    <!-- Category-->
    T-Shirt Size
    <div>

        <label class="radio-inline-ts">
            <input type="radio" name="ts-radio" onclick="params.edit.shirt =`L`" <%if(user.shirt===`L`){%> <%="checked"%> <%}%>   > L
        </label>
        <label class="radio-inline-ts">
            <input type="radio" name="ts-radio" onclick="params.edit.shirt =`XL`" <%if(user.shirt===`XL`){%> <%="checked"%> <%}%>  > XL
        </label>
        <label class="radio-inline-ts">
            <input type="radio" name="ts-radio" onclick="params.edit.shirt =`XXL`" <%if(user.shirt===`XXL`){%> <%="checked"%> <%}%>  > XXL
        </label>
    </div>

    <!--Selected-->
   Selected
    <div>

        <label class="radio-inline-ts">
            <input type="radio" name="selection-radio" onclick="params.edit.selected =true" <%if(user.selected===true){%> <%="checked"%> <%}%>  > Yes
        </label>
        <label class="radio-inline-ts">
            <input type="radio" name="selection-radio" onclick="params.edit.shirt = false" <%if(user.selected===false){%> <%="checked"%> <%}%> > No
        </label>

    </div>

    <!--Selected-->
    Paid
    <div>

        <label class="radio-inline-ts">
            <input type="radio" name="payment-radio" onclick="params.edit.paid =true" <%if(user.paid===true){%> <%="checked"%> <%}%> > Yes
        </label>
        <label class="radio-inline-ts">
            <input type="radio" name="payment-radio" onclick="params.edit.paid = false" <%if(user.paid===false){%> <%="checked"%> <%}%> > No
        </label>

    </div>

    <!-- Submit button -->
    <button id="math-submit-register" class="btn btn-primary btn-block mb-4" data-dismiss="modal" onclick="editMathUser()" >Save Changes</button>
    <div id="script_math_user_edit" hidden>
        <%=JSON.stringify(user)%>
    </div>



</div>